<div class="d-body w-100" *ngIf="nazioneSingola">
  <div class="card">
    <img src="{{ nazioneSingola[0].flags.png }}" viewBox="0 0 24 24" />
    <div class="card__content">
      <p class="card__title">{{ nazioneSingola[0].name.common }}</p>
      <p class="card__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco.
      </p>
    </div>
  </div>
</div>
