<div class="l-body">
  <div class="title d-flex justify-content-center align-items-center">
    <img src="/assets/red-s.png" alt="logo" />
    <span class="position-absolute text-white">Esplora il mondo</span>
  </div>
  <div class="container" *ngIf="listaNazioni">
    <ul class="row" *ngFor="let l of listaNazioni; let i = index">
      <div
        class="col-2 d-flex justify-content-center align-items-center d-number"
      >
        <span>{{ i + 1 }}</span>
      </div>
      <li
        class="col-10 d-flex align-items-center g-5 li-style"
        (click)="passaNome(l.name.common)"
      >
        {{ l.name.common }}
        <img
          [routerLink]="['/dettaglio', l.name.common]"
          class="image"
          src="{{ l.coatOfArms.png }}"
          alt="stemma"
        />
      </li>
    </ul>
  </div>
</div>
